.container
  h1.score(data-text="Score:0") Score:0
  .options.options--hide
    label#labelSpeed(for="speed") Speed:4
    input#speed(type="range", min="1", max="10" ,value="4")
    label#labelSize(for="size") Size:3
    input#size(type="range", min="2", max="10" ,value="3")
  .boxs
  button.button(data-text="START") START
  button.button(data-text="OPTIONS") OPTIONS